<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{:url('save')}" method="POST" enctype="multipart/form-data">
        学生姓名 : <input type="text" name="student_name"><br>
        学生班级 ： <input type="text" name="student_class"><br>
        学生图片 ： <input type="file" name="student_pic"><br>
        学生简介 : <input type="text" name="student_dis"><br>
        <input type="submit" value="提交">
    </form>
</body>
</html>